@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


.animate-ping {
  animation: ping 1.2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.home {
    align-items: flex-end;
    justify-content: end;
}
